.left-panel {
  width: 20vw;
  height: 100vh;
  transition: all 0.3s;
  position: relative;
  border-radius: 0 0.5rem 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.ico {
  width: 3rem;
}
.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  list-style-type: none;
}

.nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--blue-text);
  border-radius: var(--border-radius);
  width: 18rem;
  height: 6rem;
  background: var(--green-button);
  font-size: 1.8rem;
  font-weight: 600;
  box-shadow: var(--shadow);
}
.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  width: 22rem;
  height: 7rem;
  font-size: 2.2rem;
}
.nav-links a:hover .ico,
.nav-links a:active .ico,
.nav-links a.active .ico {
  width: 4rem;
}

.disabled {
  color: #646fa74f !important;
  pointer-events: none;
}
.left-panel p {
  width: 18rem;
  font-size: 1.4rem;
  text-align: center;
}
