.login-logo {
  width: 8rem;
}

.auth-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 1.6rem;
}
.auth-container button {
  margin-top: 1rem;
}

.auth-container .auth-sec {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}
.avatar-sec {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4rem;
}
.auth-container form {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.auth-container form label:nth-child(1) h4,
.auth-container form label:nth-child(2) h4,
.auth-container form label:nth-child(3) h4 {
  margin-bottom: 0.4rem;
  margin-top: 1.4rem;
}

.auth-container form label:nth-child(4) {
  display: flex;
}

.auth-container form label:nth-child(4) input {
  width: 15%;
  margin: 1.4rem 0;
}

.auth-container label span {
  color: red;
}
.email-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
