.question-bar {
  width: 70vw;
  margin: 2rem auto;
  color: #07456c;
}
.scrollable {
  height: 55vh;
  overflow-y: scroll;
}
.display-ques {
  padding: 0.5rem 2rem 0.5rem;
  border-radius: 0.5rem;
  text-align: justify;
  background-color: #cef2fca8;
  margin-bottom: 0.3rem;
  border: #037ecb 0.001rem solid;
}
.display-ques div:first-of-type {
  display: flex;
  justify-content: space-between;
}
.ques-body {
  margin-bottom: 0.5rem;
}
.answers {
  background-color: aliceblue;
  border: #646668 0.001rem solid;
  border-radius: 0.5rem;
  padding: 0 2rem 2rem;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  position: relative;
}
.ans-item {
  padding: 0.8rem;
}
.answers::-webkit-scrollbar {
  display: none;
}
.ans-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
