.ask-ques-container {
  margin: 5vh auto 0;
  width: 80%;
}

.ask-ques-container h1 {
  padding-bottom: 1rem;
}

.ask-ques-container form .ask-form-container {
  padding: 1.8rem;
  box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%),
    0 1px 4px rgb(0 0 0 / 10%);
  border: #037ecb 0.001rem solid;
  border-radius: 1rem;
  background-color: #e2f7fd85;
}

.ask-form-container {
  position: relative;
  overflow: hidden;
}

.ask-form-container label h4 {
  margin-bottom: 0%;
}

.ask-form-container label p {
  margin: 0%;
  font-size: 1rem;
  padding: 0.1rem 0;
}

.ask-form-container label input,
.ask-form-container label textarea {
  font-size: 0.9rem;
  padding: 0.8rem;
  border: solid 0.08rem #0000003e;
  font-family: "Roboto", sans-serif;
  width: calc(100% - 1.2rem);
  resize: vertical;
}
textarea {
  height: 10vh;
}

.submit-btn {
  position: absolute !important;
  bottom: 0;
  right: 50%;
  transform: translate(50%, -10%);
  border: none;
  background-color: #1976d2;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: aliceblue;
  box-shadow: 0px 2px 6px 0px #888;
}
.submit-btn:active {
  box-shadow: none;
}
