.ask-ques-container {
  border-radius: var(--border-radius);
  background-color: #fff;
}

.ask-ques-container {
  margin-top: 1.5rem;
}

.ask-ques-container form .ask-form-container {
  padding: 1rem;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  background: linear-gradient(
    0deg,
    rgba(114, 179, 72, 0.3) -5.77%,
    rgba(255, 255, 255, 0.19) 50%
  );
  border: #c8e1b8 0.2rem solid;
}

.ask-form-container {
  position: relative;
}

.ask-form-container h4 {
  margin-bottom: 0%;
  margin-top: 0.6rem;
  font-size: 1.6rem;
}

.ask-form-container label p {
  margin: 0%;
  font-size: 1.4rem;
  padding: 0.1rem 0;
}

.ques-body-editor {
  background-color: white;
  box-shadow: var(--shadow);
  border: 0.157rem #0005 solid;
  border-radius: 0.5rem;
  color: #757575;
}
.ques-body-editor .ql-editor {
  height: 15vh;
}

.program-dropdown {
  max-width: 15rem;
  margin-bottom: 5rem;
}
/* textarea {
  height: 10vh;
} */

.ask-ques-container .filled-btn {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
}
