.main-bar {
  width: 60vw;
}

.main-bar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.heading {
  text-transform: uppercase;
  padding: 0.1rem 0.8rem;
  border-radius: 0.5rem;
  background-color: #39739d;
  color: white;
}

.main-bar-header h1 {
  font-weight: 400;
}

.display-questions {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: 72.5vh;
  overflow-y: scroll;
  width: 100%;
}
.display-questions::-webkit-scrollbar {
  display: none;
}
.shadow-below {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-align {
  align-self: flex-start;
  margin-left: 1rem;
}
.shadow-below:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.6) 100%
  );
  width: 100%;
  height: 4em;
}

.display-question-container {
  min-height: 5rem;
  /* width: 97%; */
  display: flex;
  align-items: center;
  border-radius: 1rem;
  /* text-align: center; */
  background-color: aliceblue;
  margin-bottom: 2rem;
  border: rgba(0, 0, 0, 0.197) 0.001rem solid;
}
.display-votes-ans {
  font-size: 0.8rem;
}
.display-question-details {
  flex-grow: 1;
  padding: 0 1.8rem;
  font-size: 1.2rem;
}

.question-title-link {
  text-decoration: none;
  color: #07456c;
  transition: 0.3s;
}

.question-title-link:hover {
  color: #1976d2;
}

.display-question-details p {
  padding: 0.2rem;
  margin: 0%;
}

.display-tags-time .display-tags {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.display-tags-time {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.user-tags {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.display-tags p {
  margin: 0.1rem;
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  background-color: #39739d;
  color: #edeff0;
  border-radius: 0.5rem;
}
.display-time {
  font-size: 0.8rem;
}
