.filter-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  gap: 1rem;
}
.sort-n-filter {
  display: flex;
  gap: 1rem;
}

.shadow-below {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
}

.shadow-below:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.6) 100%
  );
  width: 100%;
  height: 4em;
}
.display-questions {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
  width: 100%;
}

.left-align {
  align-self: flex-start;
  margin-left: 1rem;
  font-size: 1.4rem;
  color: var(--grey-text);
}

.each-step {
  border-radius: var(--border-radius);
  background-color: #fff;
  margin-bottom: 2rem;
  border: var(--green-border) 0.2rem solid;
  padding: 0.3rem 1rem 0.7rem 0.5rem;
  box-shadow: var(--shadow);
  margin-right: 0.5rem;
  font-size: 1.4rem;
  color: #757575;
}

/* .opened {
  border-radius: 1rem 1rem 0 0;
} */

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0;
  overflow-y: scroll;
  max-height: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.expand {
  padding: 1rem 1rem 0;
  max-height: 10rem !important;
}
.display-question-container {
  display: flex;
  align-items: center;
}

.display-question-details {
  flex-grow: 1;
  padding: 0 1.8rem;
}

.question-title-link {
  text-decoration: none;
  color: var(--green-text);
  font-size: 1.8rem;
  font-weight: 500;
}

.question-title-link:hover {
  color: #1976d2;
}

.display-tags-time {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  color: #757575;
  margin-top: 1.5rem;
}
.ques-votes {
  display: flex;
  gap: 1rem;
}
.ques-votes span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.ques-body-limit {
  height: 2rem;
  overflow: hidden;
}
