.contact-box {
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  /* overflow-y: scroll;
  overflow-x: visible; */
}
.contact-form {
  background-color: #fff;
  border-radius: var(--border-radius);
  color: var(--grey-text);
  flex-grow: 1;
  width: 100%;
  position: relative;
}
.contact-form form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.4rem;
  /* height: 30rem; */
  padding: 1.2rem 1rem;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  background: var(--bg-green);
  border: #c8e1b8 0.2rem solid;
}
.name-mail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.contact-box-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  background: var(--bg-blue);
  padding: 9rem 10rem 7rem 8rem;
  aspect-ratio: 1/1;
  border-radius: 50rem;
  margin-right: -6.5rem;
  margin-left: -3rem;
}
.icons {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 2rem;
}

.contact-box svg {
  width: 3.5rem;
  height: auto;
}
.icons svg {
  width: 4rem !important;
  height: auto;
}

.git-icon,
.fb-icon,
.linkedin-icon,
.insta-icon {
  display: inline-block;
  animation: float 3s ease-in-out infinite;
}
.git-icon {
  animation-delay: 0.5s;
}
.linkedin-icon {
  animation-delay: 1s;
}
.insta-icon {
  animation-delay: 1.5s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.contact-box p {
  display: flex;
  gap: 3%;
  align-items: center;
  width: 100%;
  /* padding-left: 2rem; */
}

.signature {
  font-size: 1.4rem;
  text-align: center;
  color: var(--grey-text);
  letter-spacing: 0.3rem;
  margin-top: 3rem;
}
