#contact {
  padding: 3rem 0 0;
  margin: 0 auto;
  max-width: 30rem;
}

.cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.icons {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#contact svg {
  width: 2.5rem;
  height: auto;
}
.icons svg {
  width: 3rem !important;
  height: auto;
}
#contact p {
  display: flex;
  margin-top: 3%;
  gap: 3%;
  color: #343a40cb;
  font-size: 1.2rem;
  align-items: center;
}
footer {
  margin-top: 5%;
  text-align: center;
  color: #adb5bd;
  letter-spacing: 0.3rem;
}
