.lightbox .column {
  max-width: 4%;
}
.lightbox .demo-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}
.lightbox .column img {
  aspect-ratio: 1/1;
}

.lightbox-head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
}
/* The Modal (background) */
.lightbox {
  /* display: none; */
  position: fixed;
  z-index: 10;
  padding: 1rem;
  padding-bottom: 5rem;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: #020d22da;
  backdrop-filter: blur(1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* Modal Content */
.lightbox-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* The Close Button */
.lightbox .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: bold;
  z-index: 999;
  font-size: 3.5rem;
  font-weight: 300;
  color: var(--grey-text);
}

.lightbox .close:hover,
.lightbox .close:focus {
  cursor: pointer;
}

.mySlides {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lightbox .mySlides img {
  max-height: 70vh;
  max-width: 100%;
  width: auto;
}

/* Next & previous buttons */
.lightbox .prev {
  transform: scale(1.5) rotate(-90deg);
}
.lightbox .next {
  transform: scale(1.5) rotate(90deg);
}

/* Number text (1/3 etc) */
.lightbox .numbertext {
  font-size: 1.4rem;
  padding: 8px 12px;
  /* position: absolute;
  top: 0;
  left: 1rem; */
}

/* .lightbox img {
  margin-bottom: -4px;
} */

.lightbox .caption-container {
  text-align: center;
  background-color: none;
  font-size: 1.6rem;
}

.lightbox .demo {
  border-radius: 0.5rem;
  opacity: 0.6;
}

.lightbox .active,
.lightbox .demo:hover {
  opacity: 1;
  transform: translateY(-10%);
}
