.modal {
  z-index: 100;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  width: 80%;
  background: white;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  text-align: center;
  font-size: 1.4rem;
}

.modal__header {
  border-radius: 0.8rem 0.8rem 0 0;
  width: 100%;
  padding: 1rem 0.5rem;
  background: var(--green-button);
  color: var(--blue-text);
  font-size: 1.2rem;
}

.modal__header h2 {
  margin: 0.5rem;
}

.modal__content {
  padding: 1rem;
}

.modal__footer {
  padding: 1rem 0.5rem;
}
.display-none {
  display: none;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 30rem);
    width: 60rem;
  }
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
