nav {
  height: 8vh;
  width: 100%;
  margin: 0% auto;
  border-top: solid 3px ef8236;
  box-shadow: 0px 1px 5px #00000033;
  position: fixed;
  z-index: 5;
  top: 0%;
  left: 0%;
  background-color: #f8f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 100%;
  min-width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  padding: 5px 25px;
}
.logo {
  width: 3rem;
}

.navbar form {
  flex-grow: 1;
  padding: 0px 12px;
  position: relative;
}

.navbar form input {
  min-width: 90%;
  margin: 0;
  padding: 8px 10px 8px 32px;
  font-size: 13px;
  border: solid 1px #0000003e;
  border-radius: 3px;
}

.navbar form .search-icon {
  position: absolute;
  left: 25px;
  top: 8px;
}

.authbuttons {
  padding: 7px 13px;
  text-decoration: none;
}

.user-logout {
  display: flex;
  border: 0.1rem #0000003e solid;
  border-radius: 10rem 2rem 2rem 10rem;
  position: relative;
  overflow: hidden;
}
