nav {
  min-height: 6rem;
  width: 100vw;
  box-shadow: var(--shadow);
  position: fixed;
  z-index: 5;
  top: 0%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 100%;
  min-width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  padding: 0.2rem 2rem;
}
.logo {
  width: 10rem;
}

.user-logout {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  padding-right: 1rem;
  font-size: 1.4rem;
  gap: 1rem;
}
.user-logout .avatar-small {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-70%, -55%);
}

.dropdown-user {
  width: 14rem;
  padding: 0;
  overflow-y: scroll;
  max-height: 0;
  display: flex;
  position: absolute;
  top: 5rem;
  right: 0;
  font-size: 1.4rem;
  color: #fff;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  z-index: 9999;
}
.dropdown-user div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--green-button);
  color: var(--blue-text);
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  min-height: 3.5rem;
  min-width: 80%;
  box-shadow: var(--shadow);
}
.user-logout:hover .dropdown-user {
  padding: 0.5rem;
  max-height: 18rem !important;
}
.dropdown-user div:hover {
  min-height: 4.5rem;
  min-width: 100%;
}

.main-navigation__menu-btn {
  width: 4rem;
  height: auto;
}
