.main {
  height: 92vh;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 8vh auto 0;
  position: relative;
}

.home-container {
  width: 100%;
  display: flex;
  height: 100%;
}
main {
  width: 100%;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  margin-left: 0.2rem;
  position: relative;
  height: 100%;
}
.left-panel-container {
  width: 13rem;
  background: white;
  box-shadow: 1px 1px 8px -2px #888;
  border-radius: 0 0.5rem 0.5rem 0;
}
.center {
  height: 80vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
