.main {
  height: 92vh;
  width: 100%;
  display: flex;
  align-items: stretch;
  margin: 8vh auto 0;
  position: relative;
}

main {
  width: 100%;
  padding: 1.8rem 15rem 0;
  margin-left: 0.2rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.left-panel-container {
  width: 20vw;
  min-width: 25rem;
  background: white;
  box-shadow: var(--shadow);
  border-radius: 0 0.5rem 0.5rem 0;
  margin-top: -8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
