:root {
  --blue-button: linear-gradient(281.1deg, #5d81cb 0%, #5d81cb99 100%);
  --green-button: linear-gradient(
    94.46deg,
    #72b34867 0%,
    #6bad3eab 97.89%
  ); /*green button*/
  --blue-text: #102b64; /*blue text*/
  --green-text: #457922; /*green text*/
  --grey-text: #757575;
  --bg-blue: linear-gradient(
    0deg,
    #5d81cb33 0%,
    rgba(217, 217, 217, 0) 80.31%
  ); /*bg blue*/
  /*background-color: aliceblue; bg green*/
  --blue-border: #5d81cb60; /*blue border*/
  --green-border: #72b34863; /*green border*/
  --border-radius: 1rem;
  --shadow: 0.2rem 0.3rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s;
  font-family: inherit;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  color: var(--blue-text);
  scroll-behavior: smooth;
  background: var(--bg-blue);
  /* transition: all 0.5s; */
  /* overflow: hidden; */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
  display: none;
}
:disabled {
  opacity: 0.7;
}
svg * {
  transition: none !important;
}
.cursor {
  cursor: pointer;
}

.avatar-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}
.avatar-preview {
  grid-row: span 4;
}

.avatar-small {
  width: 5rem;
  height: 5rem;
}
.avatar-medium {
  max-width: 7rem;
  max-height: 7rem;
  min-width: 7rem;
  min-height: 7rem;
}
.avatar-large {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  box-shadow: var(--shadow);
}

input {
  height: 4rem;
  box-shadow: var(--shadow);
  border: 0.157rem #0005 solid;
  border-radius: 0.5rem;
  color: #757575;
  padding: 1rem;
  width: 100%;
  font-size: 1.4rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.vote-btn {
  fill: #72b34867;
}
.text-btn {
  color: #5d81cb;
  padding: 0.7rem 1.4rem;
}

.filled-btn {
  border: none;
  padding: 1rem 2rem;
  color: white;
  background: var(--blue-button);
  box-shadow: var(--shadow);
}
.filled-btn:active {
  box-shadow: none;
}
.delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.157rem #0005 solid;
  border-radius: 0.5rem;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #fff;
  box-shadow: var(--shadow);
}

.heading {
  width: 18rem;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: var(--blue-text);
  border-radius: var(--border-radius);

  background: var(--green-button);
  font-size: 2rem;
  font-weight: 600;
  box-shadow: var(--shadow);
  margin: 0.5rem auto 1rem;
}
.rotate {
  transform: rotate(180deg);
}

.mobile-view {
  display: none;
}

/**********working**************/

.working {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.working div {
  /* width: 30%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.working div img {
  /* width: 100%; */
  height: 20rem;
  /* max-width: 20rem; */
}
.working span {
  width: 1rem;
  opacity: 0.4;
}
@media (max-width: 1280px) {
  .working div img {
    height: 17rem;
  }
}
@media (max-width: 550px) {
  .working {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .working span {
    transform: rotate(90deg);
  }
  .working div img {
    height: 15vh;
  }
}
/**********working**************/

@media (max-width: 1200px) {
  main {
    padding: 1.8rem 7rem 0 !important;
  }
}
@media (max-width: 1035px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 915px) {
  html {
    font-size: 50%;
  }
  .users-list {
    grid-template-columns: 1fr !important;
  }
}
@media (max-width: 815px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 735px) {
  .pc-view {
    display: none !important;
  }
  .mobile-view {
    display: block !important;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  main {
    padding: 1.8rem 2rem 0 !important;
  }
  .auth-sec {
    flex-direction: column !important;
  }
  .auth-sec .avatar-sec {
    padding: 0;
    position: relative;
    margin-top: 5rem;
  }
  .avatar-sec button {
    margin-top: 0 !important;
  }
  .avatar-sec svg {
    position: absolute;
    top: -15rem;
  }
  .avatar-sec svg,
  .avatar-preview svg {
    width: 15rem !important;
    height: 15rem !important;
  }
  .dropdown p,
  .dropdown .down {
    display: none;
  }
  .dropdown-content {
    width: 15rem !important;
    right: 0 !important;
  }
  .searchInputs:hover,
  .searchInputs:active {
    width: 25rem !important;
  }
  .program-dropdown {
    margin-bottom: 6rem !important;
  }
  .question-title-link {
    font-size: 1.7rem !important;
  }
  .display-question-details {
    padding: 0 1.2rem !important;
  }
  .display-tags-time p {
    font-size: 1.2rem !important;
  }
  .ques-bar-head h3 {
    font-size: 1.7rem;
  }
}
@media (max-height: 655px) {
  .avatar-form .dropdown:hover .dropdown-content {
    max-height: 10rem !important;
  }
}
