.abc {
  color: #1976d2; /*clicks*/
  color: #39739d; /*heads*/
  color: #07456c; /*text main*/
  color: #757575; /*text fade*/
  background-color: aliceblue;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}
html {
  font-size: 100%;
  color: #343a40;
  font-family: "Andika New Basic", sans-serif;
  scroll-behavior: smooth;
  background-color: #eeeeee;
  background-image: url("../public/images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: hue-rotate(0.57);
  transition: all 0.5s;
  /* overflow: hidden; */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

.text-btn {
  color: #1976d2;
  font-size: 1.2rem;
  padding: 0.7rem 1.4rem;
  border-radius: 0.3rem;
}
.text-btn:hover {
  background-color: #eeeeee;
}
.filled-btn {
  border: none;
  background-color: #1976d2;
  font-size: 1.2rem;
  padding: 0.7rem 1.4rem;
  border-radius: 0.3rem;
  color: aliceblue;
  box-shadow: 0px 2px 6px 0px #888;
}
.filled-btn:active {
  box-shadow: none;
}
.delete-btn {
  background: none;
}
.delete-btn svg {
  fill: #757575 !important;
  width: 1.5rem;
  height: auto;
}
.css-gqssyb {
  margin-top: 0.5rem;
}

.css-jlajbz-MuiFormControl-root {
  border-radius: 0.4rem;
}

.main-bar
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0.8rem !important;
}

.mobile-view {
  display: none;
}
@media (max-width: 1080px) {
  html {
    font-size: 85%;
  }
  .scrollable {
    height: 50vh;
  }
}
@media (max-width: 940px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 765px) {
  .pc-view {
    display: none !important;
  }
  .main-bar,
  .ask-ques-container,
  .question-bar {
    width: 100% !important;
  }
  .mobile-view {
    display: block !important;
  }
  main {
    margin-left: 0 !important;
  }
  .main-bar-header {
    flex-direction: column;
  }
  .filter-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    gap: 1rem;
  }
  .search {
    width: 100% !important;
  }
  .searchInputs {
    width: 100% !important;
  }
  .display-questions {
    height: 65vh !important;
  }
}

@media (max-width: 580px) {
  .users-list {
    grid-template-columns: 1fr !important;
  }
  textarea {
    height: 20vh !important;
  }
  #contact {
    margin-top: 30% !important;
  }
}
@media (max-height: 525px) {
  .display-questions {
    height: 60vh !important;
  }
}
