body {
  margin: 0;
  font-family: "Andika New Basic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
  background-image: url("../public/images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: "cover";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
